html,
body {
	margin: 0;
	padding: 0;
	font-family: Lora, serif;
	font-size: 16px;
}

.landing-page-container {
  position: relative;
  width: 100%; /* Full width of the screen */
  height: auto; /* Height adjusts based on the aspect ratio of the image */
  min-height: 200vh; /* Ensure at least full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background.png');
  background-size: 100% auto; /* Scale the width to 100%, height adjusts automatically */
  background-position: center;
  background-repeat: no-repeat; /* Ensures the image is not repeated */
  overflow-y: scroll; /* Allows scrolling if the image height exceeds the screen height */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black overlay */
}

.content {
  position: absolute;
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 10;
  text-align: center;
  padding: 1.5rem;
}

.title {
  font-size: 5rem; /* Fancy and large text */
  font-family: 'Great Vibes', cursive; /* Apply the fancy font */
  color: #251b10; /* Brown color for the text */
  margin: 0; /* Remove default margin */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add a shadow for better visibility */
}